<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=LAPTOP-K3MIDV59;Persist Security Info=True;Password=123456;User ID=sa;Initial Catalog=Library"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
